<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Suno संगीत</title>
  </head>
  <body>
    <div class="container">
        <center>
            <h1 class="heading my-3"> <span class="bg-warning text-dark" style="
                border-radius: 14px; padding: 6px; font-weight: 300;
            "> Suno </span> <span class="bg-dark text-white" style="padding: 6px; border-radius: 14px;">संगीत</span></h1>
        </center>
        <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
            
            Here you Find <strong>Lyrics</strong> Of all songs
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
        
        <!-- <div class="alert alert-primary" role="alert"> -->
        <span class="badge alert-success my-4"><h2> {{sN}}</h2></span>
        <!-- </div> -->
        <span class="badge alert-primary my-4"><h2> {{sSN}}</h2></span>
       <div class="songLyrics">
        {% autoescape false %}
            <p> {{sL}}</p>
        {% endautoescape %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>